/*  BEGIN of Including files ("fonts.css") ---------------------------------------------------------- */

@font-face{
    font-family:'FontAwesome';
    font-weight:normal;
    font-style:normal;
    src:url('../libs/font-awesome/fontawesome-webfont.eot');
    src:url('../libs/font-awesome/fontawesome-webfont.eot') format('embedded-opentype'),
    url('../libs/font-awesome/fontawesome-webfont.woff2') format('woff2'),
    url('../libs/font-awesome/fontawesome-webfont.woff') format('woff'),
    url('../libs/font-awesome/fontawesome-webfont.ttf') format('truetype'),
    url('../libs/font-awesome/fontawesome-webfont.svg#fontawesome') format('svg');
}

/* 1 - END of Including files ("fonts.css") ---------------------------------------------------------- */