body {
    margin: 0 auto;
    min-width: 320px;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    font-family: Comfortaa;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:focus,
a:visited {
    outline: none;
    color: inherit;
    text-decoration: none;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

button:hover,
input:hover,
select:hover {
    opacity: 0.8;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.col-md-6 {
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 200%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.bg {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

section {
    /*overflow: hidden;*/
}

header {
    position: fixed;
    z-index: 100;
}

.navigation {
    -webkit-transition: 0.2s ease-in-out 0.2s;
    transition: 0.2s ease-in-out 0.2s;
    display: -webkit-box;
    padding: 5rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: -150%;
}

.navigation.navigation--scrolled {
    padding: 2.5rem 5rem;
    top: 0;
    display: flex;
    justify-content: flex-end;

}

.navigation.navigation--scrolled .navigation__effect:before {
    bottom: -35%;
    -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.navigation__effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
}

.navigation__effect:before {
    -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.5, 1) 0s;
    transition: all 1s cubic-bezier(0.9, 0, 0.5, 1) 0s;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-25%) scaleY(1) scaleX(1.2);
    transform: translateX(-25%) scaleY(1) scaleX(1.2);
    bottom: 100%;
    width: 150%;
    height: 180%;
    background-color: #fff;
    display: block;
    z-index: -1;
}

/*navigation__menu*/

.navigation .navigation__menu {
    display: none;
    margin-top: -100%;
    visibility: hidden !important;
}

.navigation .navigation__menu.fadeInUp {
    margin-top: 0%;
    visibility: visible !important;
    z-index: 150;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    display: block;
    animation: nav 1s;
}

.navigation .navigation_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 100px;
}

.navigation.navigation--scrolled .navigation__menu ul {
    list-style: none;
}

.navigation.navigation--scrolled .navigation__menu .menu {
    width: 40%;
    text-align: right;
    padding-right: 15%;
}

.navigation.navigation--scrolled .navigation__menu .menu:before {
    position: absolute;
    top: -25%;
    right: 40%;
    width: 1px;
    border-left: 1px solid #94A1CB;;
    height: 200%;
    content: '';
}

.navigation.navigation--scrolled .navigation__menu .menu li a.link {
    padding: 33px 0;
    display: block;
    font-size: 48px;
    line-height: 54px;
    text-align: right;
    color: #384262;
    position: relative;
    z-index: 10;
    text-decoration: none;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover a.link {
    text-decoration-line: underline;
    color: #7EDCBF;
}

.navigation.navigation--scrolled .navigation__menu .menu li .sub-menu {
    position: absolute;
    left: 5%;
    padding-right: 50%;
    display: none;
    top: 5%;
    z-index: 5;
    width: 100%;
    transition: all 0.3s;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu {
    display: block;
    height: 100%;
    animation: nav .5s;
}

@keyframes nav {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active {
    list-style-type: none;
    counter-reset: section;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active:before {
    counter-increment: section;
    content: counter(section) ".";
    margin: 0 0 0 -34px;
    text-align: right;
    width: 2em;
    display: inline-block;
    position: absolute;
    height: 100%;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li a {
    font-size: 24px;
    line-height: 27px;
    text-align: right;
    color: #384262;
    display: block;
    margin-bottom: 30px;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li:hover a {
    color: #7EDCBF;
}

.social {
    position: fixed;
    top: 75vh;
    right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    min-height: 154px;
}

.social.resize {
    top: 50vh;
}

.social:before {
    position: absolute;
    content: '';
    height: 30px;
    border-left: 1px solid #384262;
    top: -60px;
    left: 55%;
}

.social .icon path {
    transition: 0.5s;
}

.social .icon:hover path {
    fill: #7EDCBF;
}

.nav_lang {
    position: fixed;
    top: 60px;
    right: 146px;
    z-index: 100;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #384262;
    transition: 0.5s;
}

.nav_lang:hover {
    text-decoration: underline;
}

.menu_btn {
    position: fixed;
    top: 60px;
    right: 60px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    cursor: pointer;
}

.menu_btn:after {
    position: absolute;
    content: '';
    height: 30px;
    border-left: 1px solid #384262;
    bottom: -60px;
    left: 55%;
}

.navigation__logo {
    position: fixed;
    top: 60px;
    left: 60px;
    z-index: 9999;
}

header .menu_btn.text span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #384262;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*content*/

.top_section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_section .row {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
}

.top_svg:nth-child(1) {
    position: absolute;
    top: 6%;
    right: 4%;
    z-index: 1;
}

.top_svg:nth-child(1) svg {
    width: auto;
    height: 90vh;
}

.top_svg:nth-child(2) {
    position: absolute;
    top: 160px;
    left: -20%;
    z-index: 1;
}

.top_svg:nth-child(2) svg {
    width: auto;
    height: 90vh;
}

.top_svg:nth-child(2) path {
    fill: #FFEFD6 !important;
    fill-opacity: 0.35;
}

/*top_info_section*/

.top_info_section {
    width: 50%;
    position: relative;
}

.top_info_section .title {
    font-family: Playfair Display;
    font-size: 48px;
    line-height: 64px;
    color: #384262;
}

.top_info_section .sub_title {
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    margin: 30px 0;
    max-width: 453px;
}

/*custom_btn*/

.custom_btn {
    width: 222px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(126, 220, 191, 0.3);
    border-radius: 23px;
    transition: 0.5s;
}

.custom_btn a {
    font-size: 14px;
    line-height: 16px;
    color: #384262;
    text-decoration: none;
}

.custom_btn:hover {
    background: #7EDCBF;
}

.custom_btn:hover a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/*.video_section*/

.video_section {
    /*width: 50%;*/
    position: absolute;
    top: -30%;
    right: -5%;
    min-height: 45vh;
    width: 60%;
}

/*about_us*/

.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0;
}

/*main_title*/
.main_title {
    font-family: Playfair Display;
    font-size: 48px;
    line-height: 64px;
    color: #384262;
}

/*main_title*/
.about_us .content {
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
    max-width: 900px;
    margin-top: 30px;
}

/*products */

.products {
    padding-top: 100px;
    position: relative;
}

.products .svg {
    position: absolute;
    top: -10%;
    left: -53%;
    overflow: hidden;

}

.products .svg svg {
    width: auto;
    height: 115vh;
}

.products .svg_right {
    position: absolute;
    bottom: -92%;
    right: -62%;
    z-index: -1;
}

.products .svg_right svg {
    width: auto;
    height: 325vh;
}

.products .container {
    margin: 0 auto;
}

.products .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products .product_card {
    max-width: 45%;
    padding: 0;
    margin-bottom: 60px;
}

.products .product_card:nth-child(2) {
    /*margin-top: 5%;*/
}

.products .product_card .title {
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    padding: 60px 0 10px 0;
}

.products .product_card .sub_title {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    color: #384262;
}

.product_card .image {
    position: relative;
    height: 100%;
}

.products .product_card .custom_btn {
    max-width: 160px;
    position: absolute;
    right: 0px;
    bottom: 135px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
    background: #7EDCBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateZ(50px) translateY(-50%) translateX(-50%);
}

.products .product_card .custom_btn a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.products .product_card:hover .custom_btn {
    opacity: 1;
    z-index: 5;
}

.products .tilt {
    transform-style: preserve-3d;
}

.products .custom_btn.more {
    margin: 0 auto 100px;
}

/*our_services*/

.our_services {
    position: relative;
}

.our_services .svg {
    position: absolute;
    left: -30%;
    top: 20%;
}

.our_services .svg svg {
    width: auto;
    height: 95vh;
}

.our_services .main_title {
    text-align: center;
    padding-bottom: 66px;
}

.our_services .service_card {
    min-height: 240px;
    margin-bottom: 35px;
    padding: 0 30px 0 0;
}

.our_services .service_card .icon {
    min-height: 100px;
}

.our_services .title {
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    padding: 20px 0 10px 0;
}

.our_services .sub_title {
    font-size: 16px;
    line-height: 28px;
    color: #384262;
}

/*reviews*/

.reviews {
    padding: 100px 0;
}

.reviews .row {
    margin: 0;
}

.reviews .container {
    position: relative;
}

.reviews .svg {
    position: absolute;
    right: -12%;
    z-index: -1;
    top: -55%;
}

.review_slider {
    position: relative;
    z-index: 5;
}

.reviews .image {
    display: flex;
    align-items: center;
}

.reviews .image .bg {
    min-height: 335px;
    width: 100%;
}

.reviews .photo {
    width: 20%;
}

.reviews .photo .bg {
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
}

.reviews .title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #384262;
}

.reviews .text {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #384262;
    margin: 30px 0;
}

.reviews .reviewer .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviews .reviewer .content .info {
    display: flex;
    flex-direction: row;
}

.reviews .reviewer .content .info .site a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #7EDCBF;
}

.reviews .reviewer .content .info .position {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(56, 66, 98, 0.5);
    padding-right: 30px;
}

.reviews .reviewer .name {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #384262;
}

.reviews .slick-dots {
    position: absolute;
    right: 20%;
    bottom: -5%;
    display: flex;
    justify-content: center;
    z-index: 50;
    list-style-type: none;
}

.reviews .slick-dots li {
    margin: -3px 8px 0 8px;
    display: flex;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
    padding: 0;
    justify-content: center;
    border: 3px solid rgba(255, 185, 72, 0);
    transition: 0.1s;
}

.reviews li button {
    display: block;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    border: none;
    background: rgba(56, 66, 98, 0.5);
    /*background-image: url("../img/dot.png");*/
    text-indent: 9999px;
}

.reviews .slick-dots li.slick-active {
    border: 3px solid rgba(255, 185, 72, 0.5);
}

.reviews .slick-dots li.slick-active button {
    background: rgba(255, 185, 72, 0.5);
}

/*contact*/
.contact {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.contact .svg {
    position: absolute;
    left: -30%;
    top: -10%;
}

.contact .svg svg {
    width: auto;
    height: 80vh;
}

.contact .main_title {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
}

.contact .information {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #384262;
    max-width: 900px;
    margin: 30px auto;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-name: fadeInUp;
}

.contact .contact_form {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 80px;
    animation-duration: 1s;
    animation-delay: 0.9s;
    animation-name: fadeInUp;
}

.contact .contact_form button.custom_btn {
    cursor: pointer;
    border: none !important;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    color: #384262;
}

.contact .contact_form button.custom_btn:hover {
    color: #fff;
}

.contact .contact_form .form-group {
    margin-bottom: 40px;
}

.contact .contact_form textarea.form-control {
    height: auto;
    min-height: 105px;
}

.contact .contact_form .form-control:focus {
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0rem transparent;
}

.contact .contact_form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none;
    border-bottom: 1px solid #C4C4C4;;
}

.contact .contact_form .form-control,
.contact .contact_form .form-control::placeholder {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
}

/*footer*/

footer {
    margin-top: 140px;
    border-top: 4px solid #7EDCBF;
    min-height: 336px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

footer .container {
    margin-bottom: 40px;
}

.footer_col {
    padding: 0;
}

.footer_col .footer_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    margin-bottom: 20px;
}

.footer_col:nth-child(1) .footer_title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
    margin: 20px 0 30px 0;
    max-width: 260px;
}

.footer_nav li {
    list-style: none;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
    margin-bottom: 10px;
}

.footer_political {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #384262;
}

.footer_col .content {
    margin-bottom: 30px;
}

.footer_col .sub_title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #384262;
    margin-bottom: 10px;
}

.footer_col .item {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
    margin-bottom: 10px;
}

.footer_col a {
    transition: 0.3s;
}

.footer_col a:hover {
    color: #7EDCBF;
    text-decoration: none;
}

.footer_col .address {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
}

.footer_social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    margin-top: 30px;
}

.footer_social .bg {
    width: 24px;
    height: 24px;
    transition: .5s;
}

.footer_social a:nth-child(1) .bg {
    background-image: url(../images/fskype.svg);
}

.footer_social a:nth-child(2) .bg {
    background-image: url(../images/ffacebook.svg);
}

.footer_social a:nth-child(3) .bg {
    background-image: url(../images/flinkedin.svg);
}

.footer_social a:nth-child(4) .bg {
    background-image: url(../images/ftelegram.svg);
}

.footer_social a:nth-child(5) .bg {
    background-image: url(../images/fupwork.svg);
}

/*hover*/

.footer_social a:nth-child(1):hover .bg {
    background-image: url(../images/fskype_h.svg);
}

.footer_social a:nth-child(2):hover .bg {
    background-image: url(../images/ffacebook_h.svg);
}

.footer_social a:nth-child(3):hover .bg {
    background-image: url(../images/flinkedin_h.svg);
}

.footer_social a:nth-child(4):hover .bg {
    background-image: url(../images/ftelegram_h.svg);
}

.footer_social a:nth-child(5):hover .bg {
    background-image: url(../images/fupwork_h.svg);
}

footer .copyright {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #94A1CB;
    width: 100%;
}

footer .copyright .text {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #384262;

}

/*navigation animate*/
.nav_btn_x {
    position: absolute;
    bottom: -55px;
    right: -50%;
    opacity: 0;
    transition: all 0.5s;
}

.menu_btn:hover .nav_btn_x {
    opacity: 1;
}

.menu_btn:after {
    opacity: 1;
    transition: all 0.5s;
}

.menu_btn:hover:after {
    opacity: 0;
}

header .menu_btn.active .nav_btn_x {
    opacity: 1;
}

header .menu_btn.active:after {
    opacity: 0;
}

#button-nav {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

#button-nav span {
    position: absolute;
    height: 1px;
    width: 50%;
    background: #384262;
    /*opacity: 1;*/
    transition: 0.25s ease-in-out;
    /*opacity: 0;*/
}

#button-nav span:nth-child(1),
#button-nav span:nth-child(2) {
    top: 0;

}

#button-nav span:nth-child(3),
#button-nav span:nth-child(4) {
    top: 10px;
    opacity: 0;
}

#button-nav span:nth-child(5),
#button-nav span:nth-child(6) {
    top: 20px;
}

#button-nav span:nth-child(even) {
    left: 50%;
}

#button-nav.open span:nth-child(1) {
    transform: translateX(5px) translateY(7px) rotate(45deg);
    opacity: 1;
}

#button-nav.open span:nth-child(2) {
    transform: translateX(-5px) translateY(7px) rotate(-45deg);
    opacity: 1;
}

#button-nav.open span:nth-child(3) {
    transform: translateX(-100%);
    opacity: 0;
}

#button-nav.open span:nth-child(4) {
    transform: translateX(100%);
    opacity: 0;
}

#button-nav.open span:nth-child(5) {
    transform: translateX(5px) translateY(-8px) rotate(-45deg);
    opacity: 1;
}

#button-nav.open span:nth-child(6) {
    transform: translateX(-5px) translateY(-8px) rotate(45deg);
    opacity: 1;
}

/*page about_us______________________________________________________________________________________________*/

.page_about_us .about_top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-top: 5%;
}

.page_about_us .about_top .svg {
    position: absolute;
    top: -13%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: -1;
}

.page_about_us .about_top svg {
    width: auto;
    height: 75vh;
}

.page_about_us .about_info_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page_about_us .about_info_section .title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #384262;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

.page_about_us .about_info_section .sub_title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #384262;
    margin-top: 30px;
    max-width: 535px;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.page_about_us .about_info_section .photo {
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeIn;
}

/*.about_us_team */

.page_about_us .about_us_team {
    padding: 100px 0;
    position: relative;
}

.page_about_us .about_us_team .svg {
    position: absolute;
    right: -20%;
    top: -30%;
}

.page_about_us .about_us_team svg {
    width: auto;
    height: 70vh;
}

.page_about_us .about_us_team .svg_left {
    position: absolute;
    left: -45%;
    top: 10%;
}

.page_about_us .about_us_team .svg_left svg {
    width: auto;
    height: 90vh;
}

.page_about_us .about_us_team .container {
    max-width: 840px;
}

.page_about_us .about_us_team .person {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.page_about_us .about_us_team .person .photo {
    width: 260px;
    min-height: 325px;
}

.page_about_us .about_us_team .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.page_about_us .about_us_team .person .name {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
    margin: 20px 0 10px 0;
}

.page_about_us .about_us_team .person .position {
    font-size: 18px;
    line-height: 20px;
    text-align: justify;
    color: #FFB948;
}

.page_about_us .main_title {
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: fadeInUp;
}

.page_about_us .content {
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.page_about_us .contact {
    margin-top: 0;
    position: relative;
}

.page_about_us .svg_bottom {
    position: absolute;
    right: 0%;
    bottom: -50%;
}

.page_about_us .svg_bottom svg {
    width: auto;
    height: 100vh;
}

/*project_page_______________________________________________________________________________________*/
.project_page .project_top {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project_page .project_top .title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #384262;

    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-name: fadeInUp;

}

.project_page .project_top .sub_title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #384262;
    margin: 30px 0 40px 0;
    max-width: 535px;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.project_page .project_top .custom_btn {
    background: #FFFFFF;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
}

.project_page .project_top .custom_btn a {
    font-size: 14px;
    line-height: 16px;
    color: #384262;
}

.project_page .project_top .custom_btn:hover {
    background: #7EDCBF;
}

.project_page .project_top .custom_btn:hover a {
    color: #fff;
}

/*mission*/

.project_page .mission .col-md-6 {
    padding: 0;
}

.project_page .mission .main_title {
    text-align: center;
    padding: 60px 0 30px 0;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.project_page .mission .left_side {
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInLeft;
}

.project_page .mission .right_side {
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInRight;
}

.project_page .mission .title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    margin-bottom: 20px;
}

.project_page .mission .description {
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
    max-width: 700px;
}

.project_page .mission .custom_btn {
    margin: 40px 0 0 20px;
}

.project_page .mission .list .item {
    margin-bottom: 15px;
}

.project_page .mission .list {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    color: #384262;
    max-width: 200px;

    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
}

/*quote_container*/

@media (min-width: 1900px) {

    .project_page .quote .container {
        max-width: 958px;
    }
}

.project_page .quote {
    padding: 100px 0;
    position: relative;
}

.project_page .quote .svg {
    position: absolute;
    right: -25%;
    bottom: -50%;
}

.project_page .quote .svg svg {
    width: auto;
    height: 75vh;
}

.project_page .quote .container {
    position: relative;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeIn;
}

.project_page .quote .container:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 32px;
    height: 27.43px;
    background-image: url(../images/quote_top.png);
}

.project_page .quote .container:after {
    position: absolute;
    content: " ";
    bottom: -30px;
    right: 0;
    width: 32px;
    height: 27.43px;
    background-image: url(../images/quote_bottom.png);
}

.project_page .quote .name {
    text-align: center;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #384262;
}

.project_page .quote .position {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: rgba(56, 66, 98, 0.5);
    margin: 10px 0 17px 0;
}

.project_page .quote .description {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #384262;
    max-width: 900px;
    margin: 0 auto;
}

.project_page .image {
    text-align: center;
    padding: 100px 0;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.project_page .main_page {
    text-align: center;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
    position: relative;
}

.project_page .main_page .svg {
    position: absolute;
    right: -60%;
    top: -35%;
}

.project_page .main_page svg {
    width: auto;
    height: 250vh;
}

.project_page .main_page .svg_left {
    position: absolute;
    left: -25%;
    bottom: -45%;
}

.project_page .main_page .svg_left svg {
    width: auto;
    height: 80vh;
}

.project_page .main_page .title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: left;
    color: #384262;
    margin-left: 24%;
    position: relative;
    margin-bottom: 40px;
}

.project_page .main_page .title:after {
    position: absolute;
    content: "";
    bottom: 8px;
    left: -85px;
    width: 60px;
    border-bottom: 4px solid #384262;
}

/*All Projects page */

.all_projects_page .main_title {
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.all_projects_page .filter {
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-name: fadeInUp;
}

.all_projects_page ul {
    display: flex;
    list-style: none;
    margin: 30px 0 50px 0;
}

.all_projects_page ul li {
    display: flex;
    list-style: none;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
    margin-right: 30px;
}

.all_projects_page ul li.active {
    color: #7EDCBF;
}

.all_projects_page ul li a:hover {
    color: #7EDCBF;
}

.all_projects_page .products {
    position: relative;
}

/*svgs*/
.all_projects_page .products .svg_right {
    position: absolute;
    right: -35%;
    top: 10%;
}

.all_projects_page .products .svg_right svg {
    width: auto;
    height: 80vh;
}

.all_projects_page .products .svg_big {
    position: absolute;
    right: -45%;
    top: 50%;
}

.all_projects_page .products .svg_big svg {
    width: auto;
    height: 200vh;
}

.all_projects_page .products .svg_left {
    position: absolute;
    left: -44%;
    top: 41%;
}

.all_projects_page .products .svg_left svg {
    width: auto;
    height: 90vh;
}

.all_projects_page .products .svg_small {
    position: absolute;
    left: -30%;
    bottom: 5%;
}

.all_projects_page .products .svg_small svg {
    width: auto;
    height: 75vh;
}


/*responsive begin*/
/*main*/
@media (min-width: 1026px) and (max-width: 1440px) {
    .video_section {
        right: 12%;
        min-height: 45vh;
        width: 45%;
    }

    .top_svg:nth-child(2),
    .products .svg_right {
        display: none;
    }

    .products {
        padding-top: 15%;
    }

    .navigation.navigation--scrolled .navigation__menu .menu li a.link {
        line-height: 46px;
        font-size: 34px;
    }
    .navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li a {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: 481px) and (max-width: 1025px) {
    .top_info_section .sub_title {
        font-size: 18px;
        line-height: 24px;
        margin: 10px auto;
        max-width: 300px;
        text-align: center;
    }

    .top_section {
        height: 100%;
        padding-top: 18%;
    }

    .top_section .custom_btn {
        background: #fff;
    }

    .top_section .custom_btn {
        margin: 0 auto;
    }

    .video_section {
        position: relative;
        top: 0;
        right: 0;
        min-height: 20vh;
        width: 50%;
        margin: 0 auto;
        margin-top: 5%;
        margin-bottom: 0%;
    }


    .top_info_section {
        width: 100%;
        position: relative;
    }

    .top_svg:nth-child(1) {
        right: auto;
        left: auto;
        margin: 0 auto;
    }

    .top_svg:nth-child(1) svg {
        width: auto;
        height: 55vh;
    }

    .top_info_section .title {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }

    .top_svg:nth-child(2) {
        display: none;
    }

    .about_us .content {
        padding: 0 20px;
    }

    .products .svg_right {
        display: none;
    }

    .reviews .svg {
        top: 15%;
    }

    .reviews .image .bg {
        margin: 50px auto;
    }

    footer {
        padding: 20px;
    }

    .page_about_us .about_top {
        padding-top: 20%;
    }

    .page_about_us .about_us_team .svg_left {
        display: none;
    }

    .page_about_us .about_us_team .person {
        width: 50%;
    }

    .project_page .main_page .svg {
        display: none;
    }

    .products {
        padding-top: 150px;
    }




    .navigation.navigation--scrolled {
        padding: 40px;
    }

    .navigation .navigation_container {
        justify-content: center;

    }

    .navigation.navigation--scrolled .navigation__menu .menu {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .navigation.navigation--scrolled .navigation__menu .menu:before {
        display: none;
    }

    .navigation.navigation--scrolled .navigation__menu .menu li a.link {
        padding: 20px 0;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .navigation.navigation--scrolled .navigation__menu .menu li .sub-menu {
        position: relative;
        left: 0;
        padding-right: 0;
        top: 0;
        width: 100%;

    }

    .navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active:before {
        display: none;
    }
    .navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li a {
        font-size: 14px;
        line-height: 27px;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    /*header*/
    .navigation__logo {
        top: 20px;
        left: 20px;
    }

    .navigation__logo img {
        max-width: 50%;
        height: auto;
    }

    .menu_btn {
        top: 20px;
        right: 20px;
    }

    .nav_lang {
        top: 20px;
        right: 60px;
        font-size: 16px;
        line-height: 18px;
    }

    .top_section .custom_btn {
        background: #fff;
    }

    .top_info_section .sub_title {
        font-size: 18px;
        line-height: 24px;
        margin: 10px auto;
        max-width: 300px;
        text-align: center;
    }

    .top_section {
        height: 100%;
        padding-top: 80px;
    }

    .top_section .custom_btn {
        margin: 0 auto;
    }

    .video_section {
        position: relative;
        top: 0;
        right: 0;
        min-height: 30vh;
        width: 100%;
        margin-top: 40%;
        margin-bottom: 10%;
    }


    .top_info_section {
        width: 100%;
        position: relative;
    }

    .top_svg:nth-child(1) {
        right: auto;
        left: auto;
        margin: 0 auto;
    }

    .top_svg:nth-child(1) svg {
        width: auto;
        height: 37vh;
    }

    .top_info_section .title {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
    }

    .top_svg:nth-child(2) {
        display: none;
    }

    .social {
        top: 45vh;
        right: 20px;
    }

    .about_us {
        padding: 20px 0 0 0;
    }

    .main_title {
        font-size: 28px;
        line-height: 34px;
    }

    .about_us .content {
        font-size: 16px;
        line-height: 28px;
        margin-top: 15px;
        padding: 0 20px;
    }

    .products .product_card {
        max-width: 100%;
        padding: 0 20px;
        margin-bottom: 60px;
    }

    .products .product_card .title {
        font-size: 18px;
        line-height: 24px;
        padding: 20px 0 10px 0;
    }

    .products .product_card .sub_title {
        font-size: 16px;
        line-height: 22px;
    }

    .products .custom_btn.more {
        margin: 0 auto 50px;
    }

    .our_services .main_title {
        padding-bottom: 20px;
    }

    .our_services .service_card {
        min-height: 10px;
        margin-bottom: 20px;
        padding: 0 20px;
        text-align: center;
    }

    .our_services .title {
        font-size: 18px;
        line-height: 24px;
    }

    .our_services .sub_title {
        line-height: 22px;
    }

    .our_services .svg svg {
        display: none;
    }

    .products .svg_right {
        display: none;
    }


    .reviews .title {
        font-size: 28px;
        line-height: 34px;
    }

    .reviews .image .bg {
        min-height: 190px;
        margin-top: 35%;
    }

    .reviews .slick-dots {
        right: 0;
        left: 0;
    }

    .reviews .svg {
        right: -67%;
        top: 55vh;
    }

    .reviews .svg svg {
        height: 75vh;
    }

    .reviews .photo {
        width: 30%;
    }

    .reviews .reviewer .content {
        width: 70%;
    }

    .reviews .reviewer .name {
        font-size: 18px;
        line-height: 24px;
    }

    .reviews .reviewer .content .info {
        display: flex;
        flex-direction: column;
    }

    .contact .contact_form {
        padding-top: 20px;
    }

    .contact .information {
        font-size: 16px;
        line-height: 24px;
        margin: 15px auto;
    }

    footer {
        margin-top: 70px;
        padding: 20px;
    }

    footer img {
        max-width: 30%;
    }


    /*about us*/
    .page_about_us .about_info_section .title {
        font-size: 24px;
        line-height: 34px;
    }

    .page_about_us .about_top svg {
        width: auto;
        height: 40vh;
    }

    .page_about_us .about_top .svg {
        top: 10%;
    }

    .page_about_us .about_top {
        padding-top: 20%;
    }

    .page_about_us .about_info_section .sub_title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 15px;
    }

    .page_about_us .about_us_team .person {
        width: 100%;
    }

    .project_page .project_top .title {
        font-size: 28px;
        line-height: 34px;
    }

    .project_page .project_top .sub_title {
        font-size: 18px;
        line-height: 24px;
        margin: 15px 0 20px 0;
    }

    .project_page .mission .main_title {
        padding: 30px 0;
    }

    .project_page .mission .right_side {
        margin-top: 50px;
    }

    .project_page .mission .description {
        font-size: 14px;
        line-height: 24px;
    }

    .project_page .mission .custom_btn {
        margin: 20px auto;
    }

    .project_page .quote {
        padding: 50px 20px;
    }

    .project_page .quote .description {
        font-size: 14px;
        line-height: 24px;
    }

    .project_page .image {
        padding: 50px 20px;
    }

    .project_page .main_page .title {
        font-size: 24px;
        line-height: 32px;
    }

    .project_page .main_page .svg {
        display: none;
    }

    .project_page .main_page {
        padding: 0 20px;
    }


    .all_projects_page ul {
        flex-direction: column;
        margin: 15px 10px;
    }


    .navigation.navigation--scrolled {
        padding: 40px;
        background: #fff;
        z-index: 1050;
    }

    .navigation .navigation_container {
        justify-content: center;
        margin-top: 0px;
    }

    .navigation.navigation--scrolled .navigation__menu .menu {
        width: 100%;
        text-align: center;
        padding-right: 0;
    }

    .navigation.navigation--scrolled .navigation__menu .menu:before {
        display: none;
    }

    .navigation.navigation--scrolled .navigation__menu .menu li a.link {
        padding: 20px 0;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .navigation.navigation--scrolled .navigation__menu .menu li .sub-menu {
        position: relative;
        left: 0;
        padding-right: 0;
        top: 0;
        width: 100%;

    }

    .navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active {
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 10px;
    }

    .navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active:before {
        display: none;
    }
    .navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li a {
        font-size: 14px;
        line-height: 36px;
        text-align: center;
        margin-bottom: 0px;
    }
}
