body {
    margin: 0 auto;
    min-width: 320px;
    font-size: 14px;
    color: #000;
    font-weight: normal;
    font-family: Comfortaa;
}

a {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a:focus,
a:visited {
    outline: none;
    color: inherit;
    text-decoration: none;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

button:hover,
input:hover,
select:hover {
    opacity: 0.8;
}

strong {
    font-weight: 500;
}

em {
    font-style: italic;
}

img {
    max-width: 100%;
    height: auto;
}

.col-md-6 {
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    min-height: 200%;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.bg {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

section {
    /*overflow: hidden;*/
}

header {
    position: fixed;
    z-index: 100;
}

.navigation {
    -webkit-transition:  0.2s ease-in-out 0.2s;
    transition:  0.2s ease-in-out 0.2s;
    display: -webkit-box;
    padding: 5rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: -150%;
}

.navigation.navigation--scrolled {
    padding: 2.5rem 5rem;
    top: 0;
    display: flex;
    justify-content: flex-end;

}

.navigation.navigation--scrolled .navigation__effect:before {
    bottom: -35%;
    -webkit-transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.navigation__effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
}

.navigation__effect:before {
    -webkit-transition: all 1s cubic-bezier(0.9, 0, 0.5, 1) 0s;
    transition: all 1s cubic-bezier(0.9, 0, 0.5, 1) 0s;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-25%) scaleY(1) scaleX(1.2);
    transform: translateX(-25%) scaleY(1) scaleX(1.2);
    bottom: 100%;
    width: 150%;
    height: 180%;
    background-color: #fff;
    display: block;
    z-index: -1;
}

/*navigation__menu*/

.navigation .navigation__menu {
    display: none;
    margin-top: -100%;
    visibility: hidden !important;
}

.navigation .navigation__menu.fadeInUp {
    margin-top: 0%;
    visibility: visible !important;
    z-index: 150;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    display: block;
    animation: nav 1s;
}

.navigation .navigation_container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 100px;
}

.navigation.navigation--scrolled .navigation__menu ul {
    list-style: none;
}

.navigation.navigation--scrolled .navigation__menu .menu {
    width: 40%;
    text-align: right;
    padding-right: 15%;
}

.navigation.navigation--scrolled .navigation__menu .menu:before {
    position: absolute;
    top: -25%;
    right: 40%;
    width: 1px;
    border-left: 1px solid #94A1CB;;
    height: 200%;
    content: '';
}


.navigation.navigation--scrolled .navigation__menu .menu li a.link {
    padding: 33px 0;
    display: block;
    font-size: 48px;
    line-height: 54px;
    text-align: right;
    color: #384262;
    position: relative;
    z-index: 10;
    text-decoration: none;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover a.link {
    text-decoration-line: underline;
    color: #7EDCBF;
}

.navigation.navigation--scrolled .navigation__menu .menu li .sub-menu {
    position: absolute;
    left: 5%;
    padding-right: 50%;
    display: none;
    top: 5%;
    z-index: 5;
    width: 100%;
    transition: all 0.3s;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu {
    display: block;
    height: 100%;
    animation: nav .5s;
}

@keyframes nav {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active {
    list-style-type: none;
    counter-reset: section;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.navigation.navigation--scrolled .navigation__menu .menu li .sub-menu.active:before {
    counter-increment: section;
    content: counter(section) ".";
    margin: 0 0 0 -34px;
    text-align: right;
    width: 2em;
    display: inline-block;
    position: absolute;
    height: 100%;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li a {
    font-size: 24px;
    line-height: 27px;
    text-align: right;
    color: #384262;
    display: block;
    margin-bottom: 30px;
}

.navigation.navigation--scrolled .navigation__menu .menu li:hover .sub-menu li:hover a {
    color: #7EDCBF;
}

.social {
    position: fixed;
    top: 75vh;
    right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    min-height: 154px;
}

.social:before {
    position: absolute;
    content: '';
    height: 30px;
    border-left: 1px solid #384262;
    top: -60px;
    left: 55%;
}

.social .icon path {
    transition: 0.5s;
}

.social .icon:hover path {
    fill: #7EDCBF;
}

.nav_lang {
    position: fixed;
    top: 60px;
    right: 146px;
    z-index: 100;
    cursor: pointer;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #384262;
    transition: 0.5s;
}

.nav_lang:hover {
    text-decoration: underline;
}

.menu_btn {
    position: fixed;
    top: 60px;
    right: 60px;
    display: flex;
    flex-direction: column;
    z-index: 100;
    cursor: pointer;
}

.menu_btn:after {
    position: absolute;
    content: '';
    height: 30px;
    border-left: 1px solid #384262;
    bottom: -60px;
    left: 55%;
}

.navigation__logo {
    position: fixed;
    top: 60px;
    left: 60px;
    z-index: 9999;
}

header .menu_btn.text span {
    display: block;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #384262;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

/*content*/

.top_section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.top_section .row {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 100%;
}

.top_svg:nth-child(1) {
    position: absolute;
    top: 6%;
    right: 4%;
    z-index: 1;
}

.top_svg:nth-child(1) svg {
    width: auto;
    height: 90vh;
}

.top_svg:nth-child(2) {
    position: absolute;
    top: 160px;
    left: -20%;
    z-index: 1;
}

.top_svg:nth-child(2) svg {
    width: auto;
    height: 90vh;
}

.top_svg:nth-child(2) path {
    fill: #FFEFD6 !important;
    fill-opacity: 0.35;
}

/*top_info_section*/

.top_info_section {
    width: 50%;
    position: relative;
}

.top_info_section .title {
    font-family: Playfair Display;
    font-size: 48px;
    line-height: 64px;
    color: #384262;
}

.top_info_section .sub_title {
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    margin: 30px 0;
    max-width: 453px;
}

/*custom_btn*/

.custom_btn {
    width: 222px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(126, 220, 191, 0.3);
    border-radius: 23px;
}

.custom_btn a {
    font-size: 14px;
    line-height: 16px;
    color: #384262;
    text-decoration: none;
}

.custom_btn:hover {
    background: #7EDCBF;
}

.custom_btn:hover a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}

/*.video_section*/

.video_section {
    /*width: 50%;*/
    position: absolute;
    top: -30%;
    right: -5%;
    min-height: 45vh;
    width: 60%;
}

/*about_us*/

.about_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0 0 0;
}

/*main_title*/
.main_title {
    font-family: Playfair Display;
    font-size: 48px;
    line-height: 64px;
    color: #384262;
}

/*main_title*/
.about_us .content {
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
    max-width: 900px;
    margin-top: 30px;
}

/*products */

.products {
    padding-top: 100px;
    position: relative;
}

.products .svg {
    position: absolute;
    top: -10%;
    left: -53%;
    overflow: hidden;

}

.products .svg svg {
    width: auto;
    height: 115vh;
}

.products .svg_right {
    position: absolute;
    bottom: -92%;
    right: -62%;
    z-index: -1;
}

.products .svg_right svg {
    width: auto;
    height: 325vh;
}

.products .container {
    margin: 0 auto;
}

.products .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.products .product_card {
    max-width: 45%;
    padding: 0;
    margin-bottom: 60px;
}

.products .product_card .title {
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    padding: 60px 0 10px 0;
}

.products .product_card .sub_title {
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    color: #384262;
}

.product_card .image {
    position: relative;
    height: 100%;
}

.products .product_card .custom_btn {
    max-width: 160px;
    position: absolute;
    right: 0px;
    bottom: 135px;
    opacity: 0;
    z-index: -1;
    transition: 0.5s;
    background: #7EDCBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateZ(50px) translateY(-50%) translateX(-50%);
}

.products .product_card .custom_btn a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-decoration: none;
}

.products .product_card:hover .custom_btn {
    opacity: 1;
    z-index: 5;
}

.products .tilt {
    transform-style: preserve-3d;
}

.products .custom_btn.more {
    margin: 0 auto 100px;
}

/*our_services*/

.our_services {
    position: relative;
}

.our_services .svg {
    position: absolute;
    left: -30%;
    top: 20%;
}

.our_services .svg svg {
    width: auto;
    height: 95vh;
}

.our_services .main_title {
    text-align: center;
    padding-bottom: 66px;
}

.our_services .service_card {
    min-height: 240px;
    margin-bottom: 35px;
    padding: 0 30px 0 0;
}

.our_services .service_card .icon {
    min-height: 100px;
}

.our_services .title {
    font-family: Playfair Display;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    padding: 20px 0 10px 0;
}

.our_services .sub_title {
    font-size: 16px;
    line-height: 28px;
    color: #384262;
}

/*reviews*/

.reviews {
    padding: 100px 0;
}

.reviews .row {
    margin: 0;
}

.reviews .container {
    position: relative;
}

.reviews .svg {
    position: absolute;
    right: -12%;
    z-index: -1;
    top: -55%;
}

.review_slider {
    position: relative;
    z-index: 5;
}

.reviews .image {
    display: flex;
    align-items: center;
}

.reviews .image .bg {
    min-height: 335px;
    width: 100%;
}

.reviews .photo {
    width: 20%;
}

.reviews .photo .bg {
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
}

.reviews .title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    color: #384262;
}

.reviews .text {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #384262;
    margin: 30px 0;
}

.reviews .reviewer .content {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviews .reviewer .content .info {
    display: flex;
    flex-direction: row;
}

.reviews .reviewer .content .info .site a {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #7EDCBF;
}

.reviews .reviewer .content .info .position {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: rgba(56, 66, 98, 0.5);
    padding-right: 30px;
}

.reviews .reviewer .name {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    color: #384262;
}

.reviews .slick-dots {
    position: absolute;
    right: 20%;
    bottom: -5%;
    display: flex;
    justify-content: center;
    z-index: 50;
    list-style-type: none;
}

.reviews .slick-dots li {
    margin: -3px 8px 0 8px;
    display: flex;
    max-width: 16px;
    max-height: 16px;
    border-radius: 50%;
    padding: 0;
    justify-content: center;
    border: 3px solid rgba(255, 185, 72, 0);
    transition: 0.1s;
}

.reviews li button {
    display: block;
    max-width: 10px;
    max-height: 10px;
    border-radius: 50%;
    border: none;
    background: rgba(56, 66, 98, 0.5);
    /*background-image: url("../img/dot.png");*/
    text-indent: 9999px;
}

.reviews .slick-dots li.slick-active {
    border: 3px solid rgba(255, 185, 72, 0.5);
}

.reviews .slick-dots li.slick-active button {
    background: rgba(255, 185, 72, 0.5);
}

/*contact*/
.contact {
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.contact .svg {
    position: absolute;
    left: -30%;
    top: -10%;
}

.contact .svg svg {
    width: auto;
    height: 80vh;
}

.contact .information {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #384262;
    max-width: 900px;
    margin: 30px auto;
}

.contact .contact_form {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 80px;
}

.contact .contact_form button.custom_btn {
    cursor: pointer;
    border: none !important;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
    color: #384262;
}

.contact .contact_form button.custom_btn:hover {
    color: #fff;
}

.contact .contact_form .form-group {
    margin-bottom: 40px;
}

.contact .contact_form textarea.form-control {
    height: auto;
    min-height: 105px;
}

.contact .contact_form .form-control:focus {
    background-color: #fff;
    border-color: black;
    outline: 0;
    box-shadow: 0 0 0 0rem transparent;
}

.contact .contact_form .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: none;
    border-bottom: 1px solid #C4C4C4;;
}

.contact .contact_form .form-control,
.contact .contact_form .form-control::placeholder {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: justify;
    color: #384262;
}

/*footer*/

footer {
    margin-top: 140px;
    border-top: 4px solid #7EDCBF;
    min-height: 336px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

footer .container {
    margin-bottom: 40px;
}

.footer_col {
    padding: 0;
}

.footer_col .footer_title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #384262;
    margin-bottom: 20px;
}

.footer_col:nth-child(1) .footer_title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8E8E8E;
    margin: 20px 0 30px 0;
    max-width: 260px;
}

.footer_nav li {
    list-style: none;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
    margin-bottom: 10px;
}

.footer_political {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #384262;
}

.footer_col .content {
    margin-bottom: 30px;
}

.footer_col .sub_title {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #384262;
    margin-bottom: 10px;
}

.footer_col .item {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
    margin-bottom: 10px;
}

.footer_col a {
    transition: 0.3s;
}

.footer_col a:hover {
    color: #7EDCBF;
    text-decoration: none;
}

.footer_col .address {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #8E8E8E;
}

.footer_social {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
    margin-top: 30px;
}

.footer_social .bg {
    width: 24px;
    height: 24px;
    transition: .5s;
}

.footer_social a:nth-child(1) .bg {
    background-image: url(../images/fskype.svg);
}

.footer_social a:nth-child(2) .bg {
    background-image: url(../images/ffacebook.svg);
}

.footer_social a:nth-child(3) .bg {
    background-image: url(../images/flinkedin.svg);
}

.footer_social a:nth-child(4) .bg {
    background-image: url(../images/ftelegram.svg);
}

.footer_social a:nth-child(5) .bg {
    background-image: url(../images/fupwork.svg);
}

/*hover*/

.footer_social a:nth-child(1):hover .bg {
    background-image: url(../images/fskype_h.svg);
}

.footer_social a:nth-child(2):hover .bg {
    background-image: url(../images/ffacebook_h.svg);
}

.footer_social a:nth-child(3):hover .bg {
    background-image: url(../images/flinkedin_h.svg);
}

.footer_social a:nth-child(4):hover .bg {
    background-image: url(../images/ftelegram_h.svg);
}

.footer_social a:nth-child(5):hover .bg {
    background-image: url(../images/fupwork_h.svg);
}

footer .copyright {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #94A1CB;
    width: 100%;
}

footer .copyright .text {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #384262;

}

/*navigation animate*/
.nav_btn_x {
    position: absolute;
    bottom: -55px;
    right: -50%;
    opacity: 0;
    transition: all 0.5s;
}

.menu_btn:hover .nav_btn_x {
    opacity: 1;
}

.menu_btn:after {
    opacity: 1;
    transition: all 0.5s;
}

.menu_btn:hover:after {
    opacity: 0;
}

header .menu_btn.active .nav_btn_x {
    opacity: 1;
}

header .menu_btn.active:after {
    opacity: 0;
}

#button-nav {
    position: relative;
    margin: 0 auto;
    width: 30px;
    height: 20px;
    cursor: pointer;
}

#button-nav span {
    position: absolute;
    height: 1px;
    width: 50%;
    background: #384262;
    /*opacity: 1;*/
    transition: 0.25s ease-in-out;
    /*opacity: 0;*/
}

#button-nav span:nth-child(1),
#button-nav span:nth-child(2) {
    top: 0;

}

#button-nav span:nth-child(3),
#button-nav span:nth-child(4) {
    top: 10px;
    opacity: 0;
}

#button-nav span:nth-child(5),
#button-nav span:nth-child(6) {
    top: 20px;
}

#button-nav span:nth-child(even) {
    left: 50%;
}

#button-nav.open span:nth-child(1) {
    transform: translateX(5px) translateY(7px) rotate(45deg);
    opacity: 1;
}

#button-nav.open span:nth-child(2) {
    transform: translateX(-5px) translateY(7px) rotate(-45deg);
    opacity: 1;
}

#button-nav.open span:nth-child(3) {
    transform: translateX(-100%);
    opacity: 0;
}

#button-nav.open span:nth-child(4) {
    transform: translateX(100%);
    opacity: 0;
}

#button-nav.open span:nth-child(5) {
    transform: translateX(5px) translateY(-8px) rotate(-45deg);
    opacity: 1;
}

#button-nav.open span:nth-child(6) {
    transform: translateX(-5px) translateY(-8px) rotate(45deg);
    opacity: 1;
}


